<section class="product-detail" id="product-detail">
    <div class="detail-container">
        <div class="image-gallery">
            <img src="<%= product.image_url %>" alt="<%= product.image_alt %>" class="main-image" />
            <!-- Miniaturas si tuvieras varias imágenes -->
            <div class="thumbnail-images">
                <img src="<%= product.image_url %>" alt="<%= product.image_alt %>" />
                <img src="<%= product.image_url %>" alt="<%= product.image_alt %>" />
            </div>
        </div>

        <div id="product-info" data-id="<%= product.id %>" data-imagen="<%= product.image_url %>">
            <h1 class="product-title">
                <%= product.name %>
            </h1>
            <p class="product-price">₲<%= Number(product.price).toLocaleString('es-PY') %>
            </p>

            <label for="quantity">Cantidad:</label>
            <select id="quantity" name="quantity">
                <% for (let i=1; i <=10; i++) { %>
                    <option value="<%= i %>">
                        <%= i %>
                    </option>
                    <% } %>
            </select>

            <div class="buttons">
                <button class="btn-info add-to-cart">Agregar al carrito</button>
                <button class="btn-buy">Comprar ahora</button>
            </div>

            <div class="description-section">
                <h3>Descripción</h3>
                <p>
                    <%= product.description %>
                </p>
            </div>
            <div class="description-section">
                <h3>Categoría</h3>
                <p>
                    <%= product.productCategory.name %>
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/js/cart.js"></script>