<div class="form-container">
    <h2 class="title-h2">
        <%= title %>
    </h2>
    <form id="productForm" name="edit-product" action="/products/<%= product.id %>?_method=PUT" method="POST"
        enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= product.id %>">

        <div class="form-group">
            <p class="label-products">Nombre:</p>
            <input class="form-input" type="text" name="name" id="name" placeholder="Nombre"
                value="<%= product ? product.name : '' %>" required>
        </div>

        <div class="form-group">
            <p class="label-products">Precio:</p>
            <input class="form-input" type="text" name="price" id="price" placeholder="Precio"
                value="<%= product ? product.price : '' %>" required>
        </div>

        <div class="form-group">
            <p class="label-products">Categoría:</p>
            <select class="form-input" name="category" id="category" required>
                <option value="">Selecciona una categoría</option>
                <% if (typeof categories !=='undefined' && categories.length> 0) { %>
                    <% categories.forEach(category=> { %>
                        <option value="<%= category.id %>" <% if (product.category==category.id) { %>selected<% } %>>
                                <%= category.name %>
                        </option>
                        <% }) %>
                            <% } %>
            </select>
        </div>

        <div class="form-group">
            <p class="label-products">Imagen actual:</p>
            <% if (product && product.image_url) { %>
                <img src="<%= product.image_url %>" alt="<%= product.name %>"
                    style="max-width: 150px; max-height: 150px; margin-bottom: 10px;margin-left: 25px;">
                <% } %>

        </div>

        <div class="form-group">
            <p class="label-products">Nueva imagen (opcional):</p>
            <input class="form-input" type="file" name="image_url" id="image_url" accept="image/*">
            <small style="font-size: xx-small;">Deja vacío si no quieres cambiar la imagen</small>
        </div>

        <div class="form-group">
            <p class="label-products">Descripción:</p>
            <textarea class="form-input" name="description" id="description"
                placeholder="Descripción del producto"><%= product ? (product.description || '') : '' %></textarea>
        </div>

        <div class="button-container">
            <a href="/products" class="btn-reset">Volver</a>
            <button type="submit" class="btn-info" style="font-size: 16px;">Guardar</button>
        </div>
    </form>
</div>

<script src="/js/cart.js"></script>