<section class="mid-container">
    <h2 class="title-h2">
        Perfil de <%= user.name%>
    </h2>
    <div class="card mb-5">
        <div class="card-header">
            Mis Datos
        </div>
        <div class="card-body">
            <div><span class="font-weight-bold mr-2">Nombre: </span>
                <%= user.name %>
            </div>
            <div><span class="font-weight-bold mr-2">Apellido: </span>
                <%= user.lastname %>
            </div>
            <div><span class="font-weight-bold mr-2">Email: </span>
                <%= user.email %>
            </div>
            <div><span class="font-weight-bold mr-2">Categoría: </span>
                <%= user.type %>
            </div>
            <% if (user && user.avatar) { %>
            <div><span class="font-weight-bold mr-2">Perfil actual: </span>
                <img src="/images/users/<%= user.avatar%>" alt="<%= user.name %>"
                    style="max-width: 150px; max-height: 150px; margin-bottom: 10px;margin-left: 25px;">
            </div>
            <% } else { %>
                <div><span class="font-weight-bold mr-2">Perfil actual: </span>
                <img src="/images/users/default-avatar.svg>" alt="<%= user.name %>"
                    style="max-width: 150px; max-height: 150px; margin-bottom: 10px;margin-left: 25px;">
                </div>    
            <% } %>
            <a href="/edit" class="btn-info ml-0">Editar mi perfil</a>
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit" class="btn-danger ml-0">Salir</button>
            </form>
            <!-- <a href="/logout" class="btn-danger ml-0">Salir</a> -->
        </div>
    </div>
    <div class="card mb-5">
        <div class="card-header">
            Mis Pedidos
        </div>
        <div class="card-body">
            <table class="table table-responsive-md mb-0">
                <thead>
                    <tr>
                        <th style="width: 50px;">
                            <strong>#</strong>
                        </th>
                        <th class="th-lg">
                            <strong>Fecha</strong>
                        </th>
                        <th class="th-lg">
                            <strong>Envío</strong>
                        </th>
                        <th class="th-lg">
                            <strong>Pago</strong>
                        </th>
                        <th>
                            <strong>Total</strong>
                        </th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>24/05/2025 10:00</td>
                        <td>Correo </td>
                        <td>Efectivo</td>
                        <td>₲1.200.000</td>
                        <td><button class="btn-warning btn-sm"><i class="fa fa-eye"></i></button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>